/*************** EVICTED STYLES ***************/

/* Shoelace tokens */
:root {
    --sl-font-sans: 'Atkinson Hyperlegible', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

    font-family: var(--sl-font-sans);
}

/* Layout etc */
:root {
    box-sizing: border-box;
    font-size: 13.5pt;
    color: var(--sl-color-neutral-800);
}

body {
    display: flex;
    flex-direction: column;
    gap: 2vmax;
    min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
    max-width: 45ch;
}

p {
    max-width: 60ch;
}

a {
    --eg-color-link: var(--sl-color-sky-700);
    --eg-color-link-hover: var(--sl-color-sky-900);
    appearance: none;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 3px;
    color: var(--eg-color-link);
}

a:hover {
    color: var(--eg-color-link-hover);
    text-decoration-thickness: 2px;
}

#site-header {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 940px;
    max-width: 96vw;
    margin: 0 auto;
    padding-bottom: 2vmin;
    border-bottom: 3px solid var(--sl-color-neutral-600);
}

.subtitle {
    font-size: larger;
    color: var(--sl-color-neutral-600);
}

#site-header hgroup {
    display: flex;
    flex-direction: column;
    margin: 0 auto 0 0;
}

#site-header hgroup > * {
    margin: 0;
}

#site-header nav {
    display: flex;
    gap: 2vw;
}

#site-header nav a {
    font-size: large;
}

main {
    width: 940px;
    max-width: 96vw;
    margin: 0 auto;
}

.important {
    background-color: var(--sl-color-neutral-200);
    padding: 1rem 2ch;
}

main > section > *:first-child {
    margin-top: 0;
}

main > section > *:last-child {
    margin-bottom: 0;
}

main > section:not(:first-child) {
    border-radius: var(--sl-border-radius-large);
    margin: 2vmax 0;
}

body > footer {
    width: 940px;
    max-width: 96vw;
    margin: auto auto 0 auto;
    border-top: 1px solid var(--sl-color-neutral-300);
}

.legal {
    font-size: smaller;
    text-align: center;
}

#disclaimer {
    margin: 1vmax auto 3vmax auto;
}

.form-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.form-list li {
    margin-bottom: 1.23vmax;
}

.form-footer {
    background-color: #fff;
    padding: 1vmax 0;
    border-radius: 0;
    display: flex;
    align-items: center;
    margin-top: 2vmax;
}


@media screen and (max-width: 650px) {
    .form-footer {
        justify-content: flex-end;
    }
}

form .date {
    display: grid;
    grid-template-columns: 5.5ch 5.5ch 8ch;
    gap: 1ch;
}

form, dl, table, ul, ol {
    max-width: 60ch;
}

.hero {
    display: flex;
    flex-direction: column;
    gap: .5vmax;
    background-color: var(--sl-color-primary-700);
    color: #fff;
    padding: 1.66vmax;
    font-size: 113%;
}

.hero > * {
    margin: 0 0;
}

.hero > .title {
    font-size: 29pt;
}

article {
    position: relative;
    counter-reset: section;
}

.menu:is(ul, ol) {
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu:is(ul, ol) li {
    padding: 0;
    margin-bottom: .5em;
}


article > *:is(h1, h2, h3, h4, h5, h6)::before {
    counter-increment: section;
    content: counter(section) ".";
    margin-right: 1ch;
    font-size: 95%;
}

article > *:is(h1, h2, h3, h4, h5, h6) {
    border-top: 2px solid var(--sl-color-neutral-500);
    padding-top: .5ch;
}

.left-sidebar nav *:is(h1, h2, h3, h4, h5, h6) {
    margin: 0;
    font-size: 1.04rem;
}

.left-sidebar nav label {
    width: 100%;
}

article > *:is(h1, h2, h3, h4, h5, h6):not(:first-child) {
    margin-top: 2.33rem;
}

article > *:is(h1, h2, h3, h4, h5, h6) {
    margin-bottom: 0;
}


.left-sidebar nav a {
    font-size: .9rem;
}

article dl {
    display: grid;
    grid-template-columns: 40% 60%;
    break-inside: auto;
}

article dt {
    font-weight: bold;
    grid-column: 1 / 2;
    margin: 0;
    padding: .5rem 1rem .5rem 0;
}

article dd {
    grid-column: 2 / -1;
    margin: 0;
    padding: .5rem 0 .5rem 1rem;
}

article dt, article dt + dd {
    border-top: 1px solid var(--sl-color-neutral-300)
}

article dl dd + dd {
    padding-top: 0;
}

article ul, article ol {
    padding-left: 3ch;
}

article ul li, article ol li {
    padding-left: 1ch;
}

article ul li::marker,
article ol li::marker {
    position: relative;
    font-weight: bold;
    font-size: 1rem;
    margin-right: 1ch;
}

article ul li > *:is(h1, h2, h3, h4, h5, h6),
article ol li > *:is(h1, h2, h3, h4, h5, h6) {
    margin: 0;
    font-size: 1.05rem;
}

article li {
    margin-bottom: 1.5vmax;
}

article li > p {
    margin: .33em 0;
}

.reference {
    margin-top: .43rem;
    font-size: 94%;
}

article table {
    text-align: left;
    width: 100%;
    padding: 0;
    border-collapse: collapse;
}

article table th {
    font-weight: inherit;
    text-decoration: underline;
}

.left-sidebar > nav {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: .5rem;
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    position: sticky;
    top: 1.5vmax;
    align-self: start;
}

.left-sidebar nav input[type="checkbox"] {
    display: none;
}

.left-sidebar nav .buttons {
    display: flex;
    justify-content: stretch;
    gap: 1ch;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 2vmax;
}

@media screen and (min-width: 633px) {
    .left-sidebar {
        display: flex;
        gap: 2vmax
    }

    .left-sidebar nav {
        flex: 1 1 200px;
    }

    .left-sidebar article {
        flex: 1 1 3fr;
    }

    .left-sidebar article *:is(h1, h2, h3, h4, h5, h6):first-child {
        margin-top: 0;
    }
}

@media screen and (max-width: 633px) {
    .left-sidebar > nav {
        position: relative;
        top: 0;
    }

    .left-sidebar nav .buttons {
        flex-direction: row;
    }

    .left-sidebar nav input[type="checkbox"] {
        height: 0;
        width: 0;
        line-height: 0;
        position: absolute;
        visibility: hidden;
    }

    .left-sidebar nav input[type="checkbox"] ~ ul {
        display: none;
    }

    .left-sidebar nav input[type="checkbox"] + .marker {
        position: absolute;
        right: 1vmax;
    }

    .left-sidebar nav input[type="checkbox"] + .marker::before {
        content: "[Show]";
    }

    .left-sidebar nav input[type="checkbox"]:checked ~ ul {
        display: block;
    }

    .left-sidebar nav input[type="checkbox"]:checked + .marker::before {
        content: "[Hide]";
    }
}

@page {
    size: a4 portrait;
    margin: 15mm 10mm 12mm 10mm;
}


/***** PRINT STYLES ******/

@media print {
    :root {
        font-size: 11.5pt;
    }

    a {
        text-decoration: none;
        color: inherit;
    }

    nav, sl-button, sl-breadcrumb, body > footer {
        display: none !important;
    }

    article {
        break-inside: auto;
    }

    #site-header h1 {
        font-size: 1.5rem;
    }

    #site-header .subtitle {
        font-size: 1rem;
    }

    .title {
        font-size: 2rem;
    }

    dl {
        break-inside: auto;
    }

    dd {
        break-before: avoid;
    }

    dt {
        break-after: avoid;
    }

    .hero {
        display: flex;
        flex-direction: column;
        gap: .5vmax;
        padding: 0px;
        font-size: 113%;
    }
}
