{% extends 'layout.html' %}

{% block body %}
    <section>
        <h2>Been evicted? You've come to the right place</h2>
        <p>
            On this simple website, you can answer questions about your eviction and
            get some basic tips on what to do next.
        </p>
        <p>
            The main thing is to check that your landlord has followed the correct rules
            and procedure - if they haven't it could mean the eviction isn't valid.
        </p>
    </section>

    <section class="important">
        <h2>Eviction check</h2>
        <p>
            We'll help you find out if your eviction is valid and what the important
            dates are that you need to think about.
        </p>
    <footer>
        <sl-button href="/checklist" variant="success">Go to the checklist</sl-button>
    </footer>
    </section>
{% endblock %}