{% extends 'layout.html' %}

{% block body %}
    <sl-breadcrumb>
        <sl-breadcrumb-item href="{{ url_for("index") }}">Home</sl-breadcrumb-item>
        <sl-breadcrumb-item href="{{ url_for('checklist.pre_check') }}">Checklist</sl-breadcrumb-item>
        <sl-breadcrumb-item>Questions</sl-breadcrumb-item>
    </sl-breadcrumb>
    <section>
        <form id="question-form"
              action="{{ url_for("checklist.save_response", checklist_id=checklist.id) }}"
              method="post">
            <input hidden name="question_id" value="{{ question["id"] }}"/>
            {% if form_token %}
                <input hidden name="token" value="{{ form_token }}"/>
            {% endif %}
            <label>
                <header>
                    <h2>{{ question["label"] }}</h2>
                    {% if question["description"] %}
                        <p>
                            {{ question["description"] }}
                        </p>
                    {% endif %}
                </header>

                {% include question["field_template"] %}

            </label>
            <footer class="form-footer">
                <sl-button id="submit-button" type="submit" variant="primary">Next</sl-button>
            </footer>
        </form>
    </section>

    <script>
    let element = document.getElementById("submit-button")
    element.addEventListener("click", function (event) {
        event.target.toggleAttribute('loading')
    })
    </script>
{% endblock %}